.exploreNearbyHighlightLayout {
    min-height: 100vh;
    height: 100%;
    display: flex;
    padding-top: 90px;
}

.featuredHighlights {
    width: 40%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
    min-height: 100vh;
    width: 60%;
}

.selectedHighlight {
    /*  */
}

.button {
    background: none;
    border: 1px solid #ccc;
    padding: .5rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-right: .5rem;
}

.button a {
    color: #131313;
    text-decoration: none;
    letter-spacing: 1px;
}

.featuredItem {
    display: flex;
    position: relative;
    margin: 3rem 0;
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
}

.superhost {
    position: absolute;
    top: 12%;
    left: 3%;
    background: #eee;   
    padding: 5px;
    font-size: .75rem;
    border-radius: 5px;
}

.featuredImg {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 1rem;
}