.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background: linear-gradient(to bottom, #13131338, #13131300);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.navbarLogo {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(237, 84, 84);
}

.navbarItem {
    font-size: 1.10rem;
    text-decoration: none;
}

.navbarLink {
    text-decoration: none;
    color: #FFF;
    margin: 0 1rem;
    text-transform: capitalize;
}